<div id="wrapper">
    <div id="header_outline">
        <header>
            <h1>title</h1>
        </header>
    </div>
    <div id="manuber_outline">
        <ul id="menuber">
            <li>TOP PAGE</li>
            <li>ジャンル</li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :DELETE %></li>
        </ul>
    </div>




    <div id="contents">
        <div id="left"></div>

        <div id="main">
            <% @games.each do |game|%>
            <div class="article">
                <%= link_to game.url do %>
                <%=image_tag("https://images-na.ssl-images-amazon.com/images/I/71utlQnFxOL._SY679_.jpg",alt:"image",height:"200", width:"100",style:"object-fit:contain;float:left;") %>
                <% end %>
                <p class="game_title">
                    <%= game.title %>
                </p>
                <p>ジャンル:<%= game.genre.name %></p>
                <div class="detail">
                    <%= simple_format(h(game.detail)) %>
                </div>
                <div class="comment">
                    <%= link_to "レビューをみる", game_path(game.id) %>
                </div>
            </div>
            <% end %>



        <div class="clear"></div>
    </div>
    <div id="footer_outline">
    <footer>
    footer
    </footer>
    </div>
</div>